.list-item {
  
  .present {
    font-size: 1.5rem;
    fill: #d8ad83;
    transform: translate(1.5px, 0px);
  }
  
  .present-container {
    height: 24px;
    display: flex;
  }
  
  .present-container-child {
    height: inherit;
    display: flex;
  }
}