.list-item {
  
  .name {
    margin-right: 5px;
  }
  
  .present {
    background-color: #d8ad83;
    height: 17px;
    width: 50px;
    border-radius: 8px;
    
    .checklist {
      font-size: 1em;
      fill: white;
      transform: translate(1px, 3px);
    }
    
    .text {
      margin-left: 5px;
      padding-right: 5px;
      color: white;
      font-size: 0.9rem;
    }
  }
}