.message {
  margin-bottom: 68px;
  margin-top: 40px;
  
  .content-title {
    text-align: center;
    margin-top: 15px;
    font-family: "Dancing Script", sans-serif;
    color: #d8ad83;
    font-size: 3.4375rem;
    margin-bottom: 15px;
  }
  
  .message-detail {
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 2%;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    max-width: 92%;
    min-width: 32%;
  
    .list-field {
      height: 100%;
      width: 100%;
    }
  
    .paper {
      width: 100%;
      height: 100%;
    }
  
    .MuiFormLabel-root.Mui-focused {
      color: #d8ad83;
    }
    .MuiInput-underline:after {
      border-bottom-color: #d8ad83;
      border-top-color: #d8ad83;
      border-right-color: #d8ad83;
      border-left-color: #d8ad83;
      outline-color: gold;
    }
    
    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: #d8ad83 !important;
    }
  
    @media (max-width: 1540px) {
      min-width: 58%;
    }
  
    @media (max-width: 1140px) {
      min-width: 80%;
    }
  
    @media (max-width: 450px) {
      min-width: 92% !important;
    }
    
    .title-heading {
      font-family: "Josefin Sans", sans-serif;
      color: #d8ad83 !important;
      margin-top: 10px;
      font-size: 1.1rem;
      margin-bottom: 25px;
    }
    
    .input {
      margin-bottom: 15px;
      max-width: 100%;
      text-align: left;
    }
  }
  
  @media (max-width: 991px) {
    .content-title {
      font-size: 2.8125rem;
    }
  }

  @media (max-width: 767px) {
    .content-title {
      font-size: 2.375rem;
    }

    font-size: 14px;
  }
  .list {
    border-style: solid;
    border-color: rgba(118, 118, 118, 0.5);
    border-width: 1px;
    min-height: 343px;
  }
  
  .margin-bottom {
    margin-bottom: 10px;
    align-self: flex-end;
  }
  
  .margin-top {
    margin-top: 10px;
  }
  
  .flex {
    display: flex;
    
    .MuiButton-root:active {
      background-color: rgba(216, 173, 131, 0.4);
    }
  }
  
  .MuiCircularProgress-colorPrimary {
    color: #d8ad83;
  }
}
