.bride-groom-detail {
  .image {
    max-width: 252px;
    max-height: 252px;
    min-height: 166px;
    min-width: 166px;
    width: 166px;
    border-radius: 50%;
    border:#d8ad83 solid;
    align-self: center;
    background-position: center center;
    background-repeat: no-repeat;
    align-items: flex-end;
    
    img {
      display: -webkit-flex;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      vertical-align: middle;
      background-position: center center;
      background-repeat: no-repeat;
      align-self: end;
      
    }  
  }
  
  h2 {
    font-family: 'Dancing Script', cursive;
    color: #d8ad83;
    font-size: 2rem;
    
  }
  
  p {
    font-family: "Cormorant Garamond",Sans-serif;
    font-size: 18px;
  }
  
  .detail {
    margin-top: 2rem;
  }
  
  @media (max-width: 911px) {
    .detail {
      margin-top: 2rem;
    }
  }
  
  @media (max-width: 450px) {
    .detail {
      margin-top: 1rem;
    }
  }
  
}