.bride-groom-detail {
  .image {
    max-width: 252px;
    max-height: 142px;
    min-height: 127px;
    min-width: 226px;
    border-radius: 50%;
    border:#BB9EAB solid;
    align-self: center;
    
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      vertical-align: middle;
  
    }  
  }
  
  h2 {
    font-family: 'Sacramento', cursive;
    color: #BB9EAB;
    font-size: 2rem;
    
  }
  
  p {
    font-family: "Cormorant Garamond",Sans-serif;
    font-size: 18px;
  }
  
  .detail {
    margin-top: 2rem;
  }
  
  @media (max-width: 911px) {
    .detail {
      margin-top: 2rem;
    }
  }
  
  @media (max-width: 450px) {
    .detail {
      margin-top: 1rem;
    }
  }
  
}